# Exercicio 4

### Listas

In [ ]:
# Exercicio 1
lista = [1, "1", 1.1, True, "agua"]
lista

In [ ]:
# Exercicio 2
lista[2]

True

In [ ]:
# Exercicio 3
lista[1] = 1
lista

In [6]:
# Exercicio 4
frutas = ["maçã", "banana", "laranja"]
frutas[0] = "uva"
frutas.pop(1)
for i in range(0, len(frutas)):
    print(frutas[i])

uva
laranja

In [7]:
# Exercicio 5
nomes = ["Igor", "igor", "iGor", "igOr", "igoR"]
nomes.append("IGOR")
nomes

['Igor', 'igor', 'iGor', 'igOr', 'igoR', 'IGOR']

In [9]:
# Exercicio 6
lista1 = [1, 2, 3, 4, 5, 6, 7]
primeiro = sum(lista1)
segundo = 0
for i in range(0, len(lista1)+1):
    segundo += i
primeiro, segundo

(28, 28)

In [10]:
# Exercicio 8
lista1 = [1, 2, 3, 4, 5, 6, 7]
soma = 0
for i in range(0, len(lista1)+1):
    if i % 2 == 0:
        soma += i
soma

12

In [12]:
# Exercicio 9
frutas = ["ananas", "banana", "laranja"]
for i in range(0, len(frutas)):
    print(frutas[i])
print(frutas)

ananas
banana
laranja
['ananas', 'banana', 'laranja']

In [17]:
# Exercicio 10
lista1 = [1, 2, 3, 4, 5, 6, 7]
print(lista1[0])
print(lista1[3:6])
print(lista1[-1])
print(lista1[0::3])

1
[4, 5, 6]
7
[1, 4, 7]

In [2]:
# Exercicio 11
notas = [11, 20, 12, 13, 15]
media = sum(notas) / len(notas)
maximo = max(notas)
minimo = min(notas)
notas.count(notas[0])

1

In [26]:
# Exercicio 12
def numero_primo(lista):
    numeros_primos = []
    for num in range(0, len(lista)):
        for i in range(2, lista[num]):
            if lista[num] % i == 0:
                break
        else:
            numeros_primos.append(lista[num])
    return numeros_primos
lista = numero_primo([10, 11, 3, 2])
print(lista)

[11, 3, 2]

In [ ]:
# Exercicio 13
def max_ocurrence(lista):
    maior = lista.count(lista[0])
    idx_maior = 0
    for i in range(1, len(lista)):
        if maior < lista.count(lista[i]):
            maior = lista.count(lista[i])
            idx_maior = i
    return lista[idx_maior]
lista = max_ocurrence([10, 11, 3, 2, 2])
print(lista)

2

In [ ]:
# Exercicio 14
def list_max_ocurrence(lista):
    return max(lista), lista.count(max(lista))
lista = list_max_ocurrence([10, 11, 3, 2, 2])
lista

(11, 1)

In [ ]:
# Exercicio 15
obj = [1.2,1.5,3.6,0.9,0.8]
print(type(obj)) # Retorna o tipo da variavel
print(sorted(obj)) # Retorna a lista organizada
print(sum(obj)) # Retorna a soma dos numeros da lista
print(max(obj)) # Retorna o maior numero da lista
print(min(obj)) # Retorna o menor numero da lista
print(abs(obj[1])) # Retorna o valor absoluto do número

<class 'list'>
[0.8, 0.9, 1.2, 1.5, 3.6]
8.0
3.6
0.8
1.5

In [ ]:
# Exercicio 16
notas = [11, 20, 12, 13, 15]
triplo_notas = [x*3 for x in notas]
triplo_notas

[33, 60, 36, 39, 45]

In [ ]:
# Exercicio 17
notas = [11, 20, 12, 13, 15]
multiplos3_notas = [x for x in notas if x %3 == 0]
multiplos3_notas

[12, 15]

In [16]:
# Exercicio 18
frutas = ["ananas", "banana", "coco", "figo"]
frutas_a = [frutas[x] for x in range(len(frutas)) if "a" in frutas[x]]
frutas_a

['ananas', 'banana']

In [17]:
# Exercicio 19
notas = [11, 20, 12, 13, 15]
sorted_notas = sorted(notas)
sorted_notas

[11, 12, 13, 15, 20]

In [25]:
# Exercicio 20
notas = [11, 20, 12, 13, 15]
reversed_notas = reversed(notas)
for i in reversed_notas:
    print(i)

15
13
12
20
11

In [36]:
# Exercicio 21
vogais_var = ["a", "l", "i", "o", "g"]
def vogais(letra):
        return letra in ["a", "e", "i", "o", "u"]
print(list(filter(vogais, vogais_var)))

['a', 'i', 'o']

In [39]:
# Exercicio 22
frutas = ["macaco", "agya", "terra"]
def comeca_por_m(letra):
    return letra.startswith("m")
print(list(filter(comeca_por_m, frutas)))

['macaco']

In [38]:
# Exercicio 23
notas = [11, 20, 12, 13, 15]
def impar(num):
    if num % 2 != 0:
        return num
print(list(filter(impar, notas)))

[11, 13, 15]

In [41]:
# Exercicio 24
notas = [11, 20, 12, 13, 15]
media = sum(notas) / len(notas)
list(filter(lambda x: x > media, notas))

[20, 15]

In [43]:
# Exercicio 25
notas = [11, 20, 12, 13, 15]
def squared(notas):
    return notas ** 2
list(map(squared, notas))

[121, 400, 144, 169, 225]

### Tuplos

In [ ]:
# Exercicio 1
cores = ("branco", "preto")
for cor in cores:
    print(cor)

branco
preto

In [45]:
# Exercicio 2
coords = (11, 3)
(x, y) = coords
x, y

(11, 3)

In [48]:
# Exercicio 3
nums = (11, 3, 1, 4)
maior, menor = max(nums), min(nums)
maior, menor

(11, 1)

In [49]:
# Exercicio 4
nums = (11, 3, 1, 4)
x = nums.count(11)
print(x)

1

In [50]:
# Exercicio 5
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [53]:
# Exercicio 6
tuple_to_list = tuple([11, 2, 3])
tuple_to_list

(11, 2, 3)

In [54]:
# Exercicio 7
pares = tuple(x for x in range(1, 11) if x % 2 == 0)
pares

(2, 4, 6, 8, 10)

### Conjunto

In [3]:
# Exercicio 1
conjunto = {}

In [4]:
# Exercicio 2
frutas = {"maçã", "banana", "larannja"}

In [5]:
# Exercicio 3
frutas.add("uva")

In [6]:
# Exercicio 4
frutas.remove("maçã")
frutas.discard("uva")

In [11]:
# Exercicio 5
frutas2 = {"pera", "agua", "leite", "banana"}
print(frutas & frutas2)

{'banana'}

In [12]:
# Exercicio 6
frutas2 = {"pera", "agua", "leite", "banana"}
print(frutas | frutas2)

{'banana', 'pera', 'larannja', 'agua', 'leite'}

### Dicionário

In [1]:
# Exercicio 1
vazio = {}

In [2]:
# Exercicio 2
vazio["banda"] = "Pink Floyd"
vazio["album"] = "The Wall"
vazio["duracao"] = "1h46m"
vazio["musicas"] = 26
vazio["compositor"] = "Roger Waters"

In [3]:
# Exercicio 3
vazio["banda"]

'Pink Floyd'

In [4]:
# Exercicio 4
vazio["album"] = "The Dark Side of The Moon"
vazio.update({"compositor": ["Roger Waters", "David Gilmour"]})

In [5]:
# Exercicio 5
vazio.pop("duracao")

'1h46m'

In [7]:
# Exercicio 6
if "duracao" in vazio:
  print("Yes, 'album' is one of the keys in the vazio dictionary")

In [8]:
# Exercicio 7
for i in vazio.values():
    print(i)

Pink Floyd
The Dark Side of The Moon
26
['Roger Waters', 'David Gilmour']

In [11]:
# Exercicio 8
for i in vazio.keys():
    print(f"{i} - {vazio[i]}")
for i, j in vazio.items():
    print(f"{i} - {j}")

banda - Pink Floyd
album - The Dark Side of The Moon
musicas - 26
compositor - ['Roger Waters', 'David Gilmour']
banda - Pink Floyd
album - The Dark Side of The Moon
musicas - 26
compositor - ['Roger Waters', 'David Gilmour']

In [13]:
# Exercicio 9
vazio_1 = {"vazio2": {"dentro": "fora"}}

{'vazio2': {'dentro': 'fora'}}

In [16]:
# Exercicio 10
teste = {}
if not teste:
    print("Vazio")

Vazio

### Miscelânea

In [ ]:
# Exercicio 1
estudantes = [{"nome": "Juliana", "idade": "3", "notas": [20, 11, 14]}, {"nome": "Rodrigo", "idade": "33", "notas": [12, 11, 3]}, {"nome": "cspotdiaz", "idade": "53", "notas": [11, 2, 3]}]

In [21]:
# Exercicio 2
for i in range(len(estudantes)):
    media = sum(estudantes[i]["notas"]) / len(estudantes[i]["notas"])
    estudantes[i]["media"] = media

[{'nome': 'Juliana', 'idade': '3', 'notas': [20, 11, 14], 'media': 15.0},
 {'nome': 'Rodrigo',
  'idade': '33',
  'notas': [12, 11, 3],
  'media': 8.666666666666666},
 {'nome': 'cspotdiaz',
  'idade': '53',
  'notas': [11, 2, 3],
  'media': 5.333333333333333}]

In [22]:
# Exercicio 3
for i in range(len(estudantes)):
    if estudantes[i]["media"] > 9.5:
        print(f"O/a estudante {estudantes[i]["nome"]} foi aprovado/a!")

O/a estudante Juliana foi aprovado/a!